@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700);

.container {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    width         : 100%;
}

.column {
    display       : flex;
    flex-direction: column;
    flex-basis    : 100%;
    flex          : 1;
    width         : 50vw;
}



#codeContainer {
    height: 50vh;
}

#ui, #htmlOutput,
#jsonInput {
    height     : 50vh;
    width      : 50vw;
    overflow-y : scroll;
    overflow-x : auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap  : break-word;
    font-family: Consolas, monaco, monospace;
    margin     : unset;
}

#jsonControls {
    height: 10vh;
}

#jsonInput {
    height: 40vh;

}

body {
    margin     : unset;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size  : 16px;
}

.map {
    width  : 50vw;
    height : 100vh;
    z-index: 0;
}

#repoLink {
    position: absolute;
    top     : 1em;
    right   : 1em;
    z-index : 1;
}

@keyframes glowing-ok {
    0% {
        border: solid 0px #2ba805;
    }

    100% {
        border: solid 1px #2ba805;
    }
}

@keyframes glowing-notok {
    0% {
        border: solid 0px #ca3b28be;
    }

    100% {
        border: solid 1px #ca3b28be;
    }
}

.button-ok {
    animation: glowing-ok 500ms infinite;
}

.invalid {
    background-color: rgba(212, 51, 51, 0.164);
}

#errorMessage {
    color         : red;
    /* display    : ; */
    visibility    : hidden;
    overflow-x    : hidden;
    overflow-y    : scroll;
    height        : 7vh;
    width         : 50vw;
    font-family   : Consolas,
        monaco,
        monospace;
    margin : unset;
    padding: unset;
}

.buttons {
    height: 3vh;
}

.show {
    visibility: visible !important;
}

#mapTitle {
    position: absolute;
    left: 1em;
    bottom: 1em;
    background-color: #ffffffba;
    padding: 0.5em;
    z-index: 1000;
}