<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <title>{{ mapTitle }}</title>
        <script type="module">
            {{{ . }}}
        </script>
    </head>
    <body>
        <div id="map" class="map"></div>
        {{#title}}
        <h1 id="mapTitle">{{ title }}</h1>
        {{/title}}
        <link href="https://cdn.jsdelivr.net/npm/ol@6.9.0/ol.css" rel="stylesheet">
        <style>
            @import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700);
            body {
                margin: unset;
                font-family: 'Quattrocento Sans', sans-serif;
                font-size: 16px;
            }
            .map {
                width: 100vw;
                height: 100vh;
                z-index: 0;
            }
            #mapTitle {
                position: absolute;
                left: 1em;
                bottom: 1em;
                background-color: #ffffffba;
                padding: 0.5em;
            }
        </style>
    </body>
</html>